body {
  font-family: "Helvetica Neue", 'Hiragino Sans GB', Helvetica, 'Microsoft YaHei', tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #202223;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.icon,
.line {
  display: inline-block;
  height: 1px;
  font-size: 0;
  position: relative;
  vertical-align: middle;
}
.icon:after,
.line:after {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  content: '';
  display: block;
  position: absolute;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.global-header {
  min-width: 1000px;
  background-color: #202223;
}
.global-header .gh-head {
  margin: 0 auto;
  width: 1000px;
  *zoom: 1;
}
.global-header .gh-head:after {
  clear: both;
  content: "";
  display: table;
}
.global-header .gh-head .gh-log {
  float: left;
  height: 38px;
  padding-top: 22px;
  padding-left: 20px;
}
.global-header .gh-head .gh-nav {
  float: right;
  margin-top: 26px;
}
.global-header .gh-head .gh-nav a {
  display: inline-block;
  margin-right: 16px;
  font-size: 14px;
  color: #ffffff;
}
.global-header .gh-head .gh-nav a:hover {
  color: #52af00;
}
.global-header .gh-head .gh-nav .line {
  width: 18px;
  height: 34px;
}
.global-header .gh-head .gh-nav .line:after {
  position: absolute;
  top: 8px;
  background-color: #ffffff;
  height: 14px;
  width: 2px;
}
.global-header .gh-head .gh-nav .or {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
}
.global-header .gh-head .gh-nav .user-reg {
  margin-right: 0;
}
.global-header .gh-head .gh-nav .gh-cart {
  position: relative;
  padding-left: 19px;
  color: #52af00;
  font-weight: 700;
}
.global-header .gh-head .gh-nav .gh-cart:after {
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-cart2.png");
  background-repeat: no-repeat;
  content: '';
}
.global-header .gh-head .gh-nav .gh-now {
  color: #52af00;
}
.global-header .gh-bg {
  background-image: url("../img/menu-img1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 100%;
  min-width: 1000px;
}
.global-wrap {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}
.global-wrap:after {
  clear: both;
  content: "";
  display: table;
}
.global-wrap .gw-left {
  float: left;
  width: 110px;
}
.global-wrap .gw-left h2 {
  height: 35px;
  padding-top: 34px;
  font-size: 20px;
  color: #52af00;
  letter-spacing: 2px;
}
.global-wrap .gw-left dl {
  border-top: 1px solid #d2d3d3;
  padding: 7px 0 ;
}
.global-wrap .gw-left dl dt {
  font-size: 14px;
  color: #797979;
}
.global-wrap .gw-left dl dd a {
  color: #2e3031;
  line-height: 20px;
}
.global-wrap .gw-left dl dd a .icon-btn {
  width: 17px;
  height: 15px;
}
.global-wrap .gw-left dl dd a .icon-btn:after {
  position: absolute;
  top: 2px;
  width: 7px;
  height: 7px;
  border: 1px solid #d2d3d3;
  background-color: #ffffff;
}
.global-wrap .gw-left dl dd .active .icon-btn:after {
  background-color: #7ed51a;
}
.global-wrap .gw-right {
  float: right;
  width: 850px;
}
.global-wrap .gw-right .gw-tit {
  height: 49px;
  border-bottom: 1px solid #d2d3d3;
  margin-top: 20px;
}
.global-wrap .gw-right .gw-tit h2 {
  float: left;
  margin-top: 15px;
  font-weight: 400;
}
.global-wrap .gw-right .gw-tit .gw-dropdown {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 12px;
  width: 150px;
  height: 28px;
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-onoff {
  display: block;
  width: 128px;
  height: 14px;
  padding: 6px 10px ;
  border: 1px solid #d2d3d3;
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-onoff span {
  font-size: 12px;
  line-height: 14px;
  color: #797979;
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-onoff .icon-dropdown:after {
  position: absolute;
  top: -3px;
  right: -73px;
  width: 5px;
  height: 3px;
  background-image: url("../img/icon-dropdown.png");
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #d2d3d3;
  overflow: hidden;
  text-align: left;
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-menu a {
  display: block;
  width: 128px;
  height: 14px;
  padding: 6px 10px ;
  border-top: 1px solid #d2d3d3;
  margin-top: -1px;
  white-space: nowrap;
  color: #797979;
}
.global-wrap .gw-right .gw-tit .gw-dropdown .dropdown-menu a:hover {
  color: #202223;
  background-color: #efefef;
  cursor: pointer;
}
.global-wrap .gw-right .gw-tit-2 {
  margin-top: 30px;
}
.global-wrap .gw-right .gw-bag ul {
  width: 870px;
  *zoom: 1;
}
.global-wrap .gw-right .gw-bag ul:after {
  clear: both;
  content: "";
  display: table;
}
.global-wrap .gw-right .gw-bag ul li {
  float: left;
  height: 250px;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  width: 270px;
}
.global-wrap .gw-right .gw-bag ul li .box {
  width: 270px;
  position: relative;
  background-color: #fff;
}
.global-wrap .gw-right .gw-bag ul li .box .small-img {
  display: none;
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d3d3;
}
.global-wrap .gw-right .gw-bag ul li .box .small-img img {
  margin-right: 8px;
}
.global-wrap .gw-right .gw-bag ul li .box .label {
  position: absolute;
  top: 210px;
  right: 0;
}
.global-wrap .gw-right .gw-bag ul li .box .label img {
  height: 15px;
  margin-left: 5px;
}
.global-wrap .gw-right .gw-bag ul li .box h5 {
  color: #202223;
  font-size: 18px;
  line-height: 20px;
  margin-top: 6px;
}
.global-wrap .gw-right .gw-bag ul li .box h5 b {
  color: #52af00;
}
.global-wrap .gw-right .gw-bag ul li .box h5 small {
  color: #202223;
  font-size: 12px;
}
.global-wrap .gw-right .gw-bag ul li .box h5 span {
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
  text-decoration: line-through;
  color: #797979;
}
.global-wrap .gw-right .gw-bag ul li .box h6 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}
.global-wrap .gw-right .gw-bag ul li .box h6 a {
  color: #202223;
}
.global-wrap .gw-right .gw-bag ul li .box p {
  display: none;
  line-height: 16px;
}
.global-wrap .gw-right .gw-bag ul li .box p span {
  color: #797979;
  font-size: 12px;
}
.global-wrap .gw-right .gw-bag ul li .box p .line {
  width: 11px;
  height: 13px;
}
.global-wrap .gw-right .gw-bag ul li .box p .line:after {
  position: absolute;
  top: -1px;
  left: 5px;
  background-color: #bcbcbc;
  height: 13px;
  width: 1px;
}
.global-wrap .gw-right .gw-bag ul li .box .shopping-btn {
  display: none;
  width: 76px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #ff5000;
  position: absolute;
  right: 10px;
  bottom: 45px;
}
.global-wrap .gw-right .gw-bag ul li .box .shopping-btn-2 {
  bottom: 10px;
}
.global-wrap .gw-right .gw-bag ul li .box:hover {
  border: 1px solid #d2d3d3;
  padding: 10px;
  top: -11px;
  left: -11px;
  z-index: 2;
}
.global-wrap .gw-right .gw-bag ul li .box:hover .small-img {
  display: block;
}
.global-wrap .gw-right .gw-bag ul li .box:hover .label {
  top: 220px;
  right: 10px;
}
.global-wrap .gw-right .gw-bag ul li .box:hover .shopping-btn {
  display: block;
}
.global-wrap .gw-right .gw-bag ul li .box:hover p {
  display: block;
}
.global-wrap .gw-right .pagination {
  margin: 50px auto 30px;
  padding-right: 20px;
}
.global-wrap .gw-right .pagination .paging {
  float: right;
  position: relative;
}
.global-wrap .gw-right .pagination .paging p {
  font-size: 14px;
  position: relative;
  text-align: center;
}
.global-wrap .gw-right .pagination .paging p a {
  display: inline-block;
  background: #fff;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #202223;
}
.global-wrap .gw-right .pagination .paging p i {
  margin: 2px 3px 0;
}
.global-wrap .gw-right .pagination .paging p span {
  color: #202223;
  font-size: 12px;
  height: 22px;
}
.global-wrap .gw-right .pagination .paging p span input {
  width: 36px;
  height: 16px;
  text-align: center;
  border: 1px solid #d2d3d3;
  padding: 5px;
  margin: 0 5px;
}
.global-wrap .gw-right .pagination .paging p span a {
  width: 48px;
  height: 28px;
  line-height: 28px;
  background-color: #52af00;
  text-decoration: none;
  margin-left: 5px;
}
.global-wrap .gw-right .pagination .paging p .active {
  color: #52af00;
  font-weight: 700;
  text-decoration: underline;
}
.global-wrap .gw-right .pagination .paging p .first,
.global-wrap .gw-right .pagination .paging p .last {
  font-size: 12px;
}
.global-footer {
  background-color: #202223;
  min-width: 1000px;
  position: relative;
}
.global-footer .link {
  width: 1000px;
  height: 188px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  padding-top: 39px;
  padding-bottom: 40px;
}
.global-footer .link .wechat-img img {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 171px;
  margin-right: 20px;
}
.global-footer .link .wechat-bag {
  float: left;
  height: 188px;
  padding-right: 39px;
  margin-right: 39px;
  border-right: 1px solid #797979;
}
.global-footer .link .wechat-bag h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 7px;
}
.global-footer .link .wechat-bag p {
  padding-left: 35px;
  line-height: 35px;
  font-size: 14px;
}
.global-footer .link .wechat-bag p .icon-wechat:after {
  position: absolute;
  top: -17px;
  right: 0px;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-wechat-2.png");
}
.global-footer .link .contact {
  float: left;
}
.global-footer .link .contact h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 3px;
}
.global-footer .link .contact p {
  font-size: 14px;
  line-height: 28px;
}
.global-footer .link .contact p a {
  color: #ffffff;
}
.global-footer .link .contact p b {
  font-size: 18px;
}
.global-footer .link .contact p span {
  color: #52af00;
}
.global-footer .reference {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: #202223;
  border-top: 1px solid #797979;
}
.global-footer .reference span {
  margin: 0 40px;
}
